.formDiv{
    width: 100%;
}
.error{
    width: 100%;
    position: relative;
}
.error input{
    border: 1px solid red !important;
}
.error span{
    color: red;
    font-size: 25px;
    font-family: Century Gothic;
    position: absolute;
    top: 100%;
    left: 0;
}
