.friendsItem{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.friendsItemImg{
  width: 25px;
  height: 25px;
  background-color: khaki;
  border-radius: 50%;
}
.friendsItemName{
  font-size: 25px;
  margin-top: 10px;
  color: white;
}