.sectionLogin{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sectionLogin p{
    font-size: 25px;
    font-family: Century Gothic;
}
.sectionLogin button{
    width: 100px;
    height: 35px;
    font-size: 25px;
}
.sectionLogin div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    font-size: 20px;
}
.sectionLogin input{
    width: 300px;
    font-size: 20px;
    padding: 5px;
}
.sectionLogin input.rem{
    width: 50px;
}
.summaryError p{
    color: red;
}
