.appWrapper{
  width: 100%;
  padding: 10px 25px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Century Gothic;
}
.double{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 50px;
}
.rightSide{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
