a{
    text-decoration: none;
    color: black;
}
a:focus{
    color: black;
}
.Dialogs{
    overflow: hidden;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
}
.Dialogs div{
    font-size: 25px;
}
.DialogsItems{
    margin-left: 50px;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.DialogMessages{
    padding: 50px 10px 10px 10px;
    height: 100%;
    background-color: lemonchiffon;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.DialogMessagesWriting{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.DialogMessagesWritingInput{
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #fff0;
    width: 85%;
    height: 50px;
    padding: 0 20px;
    font-family: Century Gothic;
    font-size: 20px;
}
.DialogMessagesWritingButton{
    cursor: pointer;
    box-sizing: border-box;
    width: 12%;
    padding: 0;
    height: 50px;
    background-color: #fff0;
    border: 1px solid black;
    font-family: Century Gothic;
    font-size: 20px;
}